<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">    
    <link rel="stylesheet" href="styles.css">
    <script src="script.js" defer></script>
    <title>Piano</title>

</head>
<body>
<!--    
    <nav>
        <div class="nav-wrapper">
            <a class="brand-logo center" id="title">Keyboard</a>
        </div>
    </nav> -->
    <div class="buttons">
        <button class="record-button btn">Record</button>
    </div>
    <div class="piano">
        <div data-note="C" class="key white"></div>
        <div  data-note="C#" class="key black"></div>
        <div  data-note="D" class="key white"></div>
        <div  data-note="D#" class="key black"></div>
        <div  data-note="E" class="key white"></div>
        <div  data-note="F" class="key white"></div>
        <div  data-note="F#" class="key black"></div>
        <div  data-note="G" class="key white"></div>
        <div  data-note="G#" class="key black"></div>
        <div  data-note="A" class="key white"></div>
        <div  data-note="Bb" class="key black"></div>
        <div  data-note="B" class="key white"></div>
      
    </div>

    <audio id="C" src="notes/notes_C.mp3"></audio>
    <audio id="C#" src="notes/notes_Db.mp3"></audio>
    <audio id="D" src="notes/notes_D.mp3"></audio>
    <audio id="D#" src="notes/notes_Eb.mp3"></audio>
    <audio id="E" src="notes/notes_E.mp3"></audio>
    <audio id="F" src="notes/notes_F.mp3"></audio>
    <audio id="F#" src="notes/notes_Gb.mp3"></audio>
    <audio id="G" src="notes/notes_G.mp3"></audio>
    <audio id="G#" src="notes/notes_Ab.mp3"></audio>
    <audio id="A" src="notes/notes_A.mp3"></audio>
    <audio id="Bb" src="notes/notes_Bb.mp3"></audio>
    <audio id="B" src="notes/notes_B.mp3"></audio>



    <ul></ul>

    <script>
        const electron = require('electron');
        const {ipcRenderer} = electron; 
        const ul = document.querySelector('ul');

        //add item
        ipcRenderer.on('item:add', function(e, item){
          ul.className = 'collection';
          const li = document.createElement('li');
          li.className = 'collection-item';
          const itemText = document.createTextNode(item);
     
          li.appendChild(itemText); 
          ul.appendChild(li);   
        })

        //clear all items
        ipcRenderer.on('item:clear', function() {
            ul.innerHTML = '';
            ul.className = '';
        })

        //remove item
        ul.addEventListener('dblclick', removeItem);
        
        function removeItem(e){
            e.target.remove();
            if (ul.children.length === 0) {
                ul.className = '';
            }
        }
;   </script>
</body>
</html>