*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #143F6B;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.piano {
    display: flex;
}

.key {
    height: calc(var(--width) * 4);
    width: var(--width);

}

.white {
  --width: 100px;
  background-color: white;
  border: 1px solid grey;
}

.white.active {
    background-color: rgb(211, 211, 211) !important;
}

.black {
    --width: 60px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
}

.black.active {
    background-color: #333 !important;
}

.buttons {
  margin-bottom: 2rem;
  display: flex;
}

.btn {
  font-size: 1.5rem;
  text-decoration: none;
  margin-right: 1rem;
}

.record-button {

}

.record-button.active {
  background-color: red;
}

.play-button,
.save-button {
  display: none;
}

.play-button.show, .save-button.show{
  display: block;
}